<html ng-app="pollApp">
	<head>
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
		<script type="text/javascript" src="pollApp.js"></script>
		<script type="text/javascript" src="pollService.js"></script>
		<script type="text/javascript" src="CreatePollController.js"></script>
	</head>
	<body ng-controller='CreatePollController'>
		<div>
			<form ng-submit="createPoll()">
				<div>
					<input type="text" ng-model='poll.question' placeholder='Question'/>
					<div ng-repeat="choice in poll.choices track by $index">
						<input type="text" ng-model='choice.text' ng-change='addChoice($index)'
						placeholder='Option'/>
					</div>
				</div>
				<div>
					<input type="checkbox" id="useCheckbox" ng-model="poll.useCheckbox"/>
					<label for="useCheckbox">Respondants can pick more than one choice</label>
				</div>
				<div>
					<input type="submit" value="Create Form"/>
				</div>
			</form>
		</div>
		<div ng-show="hasCreated">
			{{poll.link}}
		</div>
		<div>
			<form>
				<div ng-repeat="choice in poll.choices track by $index" ng-switch on="useCheckbox">
					<input ng-switch-when="true" type="checkbox" id="choice{{$index}}" ng-model="isSelected"/>
					<input ng-switch-when="false" name="userChoice" type="radio" id="choice{{$index}}" ng-model="selectedChoice.index" ng-value="$index"/>
					<label for="choice{{$index}}">{{choice.text}}</label>
				</div>
			</form>
		</div>
	</body>
</html>