<html ng-app="pollApp">
	<head>
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="pollController.js"></script>
		<script type="text/javascript" src="Directives/pollMaker.js"></script>
	</head>
	<body ng-controller='PollController'>
		<input type="text" ng-model='title'/>
		<div ng-repeat="choice in choices track by $index">
			<input type="text" ng-model='choice.text' ng-change='addChoice($index)'/>
		</div>
	</body>
</html>