@import 'grid';

$light-grey: #B8B8B8;
$question-font-size: 1.5em;
$default-font-size: 1em;

.empty-col-left {
	min-height: 1px;
	@include col-1-12(1);
}

.empty-col-right {
	
}

.main {
	@include col-1-12(11);
}

@media (min-device-width: $min-desktop-width) {
	.empty-col-left {
		min-height: 1px;
		@include col-1-12(4);
	}

	.empty-col-right {
		min-height: 1px;
		@include col-1-12(4);
	}

	.main {
		@include col-1-12(4);
	}

	.header {
		margin: 1em 0 1em 0;
	}
}

.header {
	text-align: center;
	font-size: 40px;
}

body {
	font-family: helvetica;
	font-size: $default-font-size;
	color: #403D3F;
}

label {
	font-size: $default-font-size;
}
textarea, input[type=text] {
	font-size: $default-font-size;
	font-family: helvetica;
	width: 100%;
	padding: 8px;
	color: #403D3F;
}

input[type=text] {
	border: none;
	outline: none;
}

textarea {
	resize: none;
	border: none;
	outline: none;
	overflow: auto;
	height: 78px;
}

textarea:focus, input[type=text]:focus {
	background: #F7F7F7;
}

input::-webkit-input-placeholder
{
   	font-family: helvetica;
   	color: $light-grey;
}

textarea::-webkit-input-placeholder
{
	font-family: helvetica;
	color: $light-grey;
}

textarea:focus::-webkit-input-placeholder
{
	color: #D3D3D3
}

input:focus::-webkit-input-placeholder
{
	color: #D3D3D3
}

:-moz-placeholder { /* Firefox 18- */
	font-family: helvetica;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-family: helvetica;
}

:-ms-input-placeholder {  
	font-family: helvetica;
}

.chart{
  font: 10px sans-serif;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.results-chart {
	margin: 3em 0 0 0;
}

.chart rect {
	fill: steelblue;
}

.text-container {
	margin: 0 0 11px 0;	
}

.underline-content {	 
	border: 0 solid $light-grey;
	border-width: 0 0 1px 0;
}

.options {
	margin: 40px 0 0 0;
}

input[type=submit] {
	color: #403D3F;
}

.btnfy {
	font-size: $default-font-size;
	padding: 8px 20px;
	border: 1px solid #403D3F;
	border-width: 1px;
	border-radius: 3px;
	background: transparent;
	cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btnfy:active {
	background: #F1F1F1;
}

.submit-btn {
	float: right;
}

.result-btn {
	float: left;
	text-align: center;
	display: inline-block;
}

.active-result-btn {
	background: #403D3F;
	color: white;
}

.active-result-btn:active {
	color: #403D3F;
}

.clear {
	clear: both;
}

input:focus {
	outline: none ;
}

.create-results {
	width: 100%;
	border: none;
	border-radius: 3px;
	background: transparent;
	padding: 14px 0;
}

.loading-gif {
	text-align: center;
}

.question {
	font-size: $question-font-size;
	padding: .5em 0 .5em 0;
}

.choice-container {
	padding: 1em 0 .3em 0;
}

.actions {
	margin: 2em 0 1em 0;
}

.question-textarea {
	vertical-align: bottom;
	font-size: $question-font-size;
}

.slice text {
	font-size: 16px;
	font-family: Helvetica;
}

.results-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}