{% load staticfiles %}
<!DOCTYPE html>

<html ng-app="pollApp">
	<head>
		<script type="text/javascript" src={% static 'PollApp/bower_components/angular/angular.js' %}></script>
		<script type='text/javascript' src={% static 'PollApp/bower_components/angular-resource/angular-resource.js' %}></script>
		<script type='text/javascript' src={% static 'PollApp/pollApp.js' %} ></script>
		<script type='text/javascript' src={% static 'PollApp/pollService.js' %}></script>
		<script type='text/javascript' src={% static 'PollApp/CreatePollController.js' %}></script>
		<link rel="stylesheet" type="text/css" href={% static 'PollApp/main.css' %}>
	</head>
	{% verbatim %}
	<body ng-controller='CreatePollController'>
		<div class='header'>
			Quick Poll
		</div>
		<div class='content'>
			<div>
				<form ng-submit="createPoll()" onsubmit="false">
					<div class='poll'>
						<div class='text-container input-text-container'>
							<textarea ng-model='poll.question' placeholder='Ask a question...'></textarea>
						</div>
						<div ng-repeat="choice in poll.choices track by $index">
							<div class='text-container input-text-container'>
								<input type="text" ng-model='choice.text' ng-change='addChoice($index)'
								placeholder='Add an option...'/>
							</div>
						</div>
					</div>
					<div class='options'>
						<input type='checkbox' id='useCheckbox' ng-model='poll.useCheckbox'/>
						<label for='useCheckbox'>Allow respondents to choose multiple options</label>
					</div>
					<div class='actions'>
						<div ng-hide='createPollResponse.status !== "creating"'>
							<input class='btnfy submit-btn' type='submit' value='CREATE' ng-disabled='createPollResponse.status !== "creating"'/>
						</div>
						<div ng-show='createPollResponse.status === "loading"' class='create-results loading-gif'>
						{% endverbatim %}
							<img src={% static 'PollApp/ajax-loader.gif' %}/>
						{% verbatim %}
						</div>
						<div ng-show='createPollResponse.status === "created"' class='poll-url create-results'>
								Your poll is at 
								<a href='{{ createPollResponse.url }}' >
								{{ createPollResponse.url }}
								</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>

	{% endverbatim %}
</html>