body {
	font-family: helvetica;
	font-size: 20px;
}

input::-webkit-input-placeholder
{
   	font-family: helvetica;
}

textarea::-webkit-input-placeholder
{
	font-family: helvetica;
}

textarea:focus::-webkit-input-placeholder
{
}

input:focus::-webkit-input-placeholder
{

}

:-moz-placeholder { /* Firefox 18- */
	font-family: helvetica;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-family: helvetica;
}

:-ms-input-placeholder {  
	font-family: helvetica;
}

.chart{
  font: 10px sans-serif;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart rect {
	fill: steelblue;
}

.content {
	width: 416px;
	margin: 0 auto;
}

label {
	font-size: 20px;
}

textarea, input[type=text] {
	font-size: 20px;
	font-family: helvetica;
	width: 100%;
	padding: 8px;
}

textarea {
	resize: none;
	border: none;
	outline: none;
	height: 78px;
}

textarea:focus, input[type=text]:focus {
	background: #F7F7F7 ;
}

input[type=text] {
	border: none;
	outline: none;
}

.text-container {	 
	margin: 0 0 11px 0;
	border: 0 solid #B8B8B8;
	border-width: 0 0 1px 0;
}

.header {
	margin: 20px 0 40px 0;
	text-align: center;
	font-size: 40px;
}

.options {
	margin: 40px 0 20px 0;
}

.submit-btn {
	font-size: 20px;
	padding: 8px 20px;
	border: 1px solid black;
	border-width: 1px;
	border-radius: 3px;
	background: transparent;
	cursor: pointer;
	float:right;	
}

input:focus {
	outline: none ;
}

.create-results {
	width: 100%;
	border: none;
	border-radius: 3px;
	background: transparent;
	padding: 14px 0;
}

.loading-gif {
	text-align: center;
}